{% extends 'layout.html' %}

{% block content %}
<section class="home-page text-center mt-[25vh]">
    <h1 class="text-2xl lg:text-[100px] font-bold mb-0 lg:mb-12">Jackson Sophat</h1>
    <h2 class="text-lg lg:text-[50px] font-bold mb-4 lg:mb-12">Web Engineer at <a href="https://www.forthea.com/"
            target="_blank">Forthea</a></h2>
    <ul class=" flex flex-wrap gap-4 justify-center text-sm">
        <li class="bg-white text-black py-1 lg:py-2 px-8 rounded-full text-xs lg:text-base">Python</li>
        <li class="bg-white text-black py-1 lg:py-2 px-8 rounded-full text-xs lg:text-base">Django</li>
        <li class="bg-white text-black py-1 lg:py-2 px-8 rounded-full text-xs lg:text-base">PHP</li>
        <li class="bg-white text-black py-1 lg:py-2 px-8 rounded-full text-xs lg:text-base">Laravel</li>
        <li class="bg-white text-black py-1 lg:py-2 px-8 rounded-full text-xs lg:text-base">JavaScript</li>
        <li class="bg-white text-black py-1 lg:py-2 px-8 rounded-full text-xs lg:text-base">React</li>
    </ul>
</section>
{% endblock content %}